<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.itinerary.dao.ItineraryDAO">

<insert id="insertItinerary" parameterType="map">
	INSERT INTO `itinerary`
	(
		`travelId`
		, `date`
		, `title`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{date}
		,#{title}
		,NOW()
		,NOW()
	)
</insert>

<select id="selectItineraryByTravelIdDate" resultType="com.travelplans.itinerary.model.Itinerary">
SELECT
		`id`
		,`travelId`
		,`date`
		,`title`
		,`createdAt`
		,`updatedAt`
	FROM
		`itinerary`
	WHERE
		`travelId` = #{travelId}
	AND
		`date` = #{date}
</select>

<select id="selectItineraryByTravelId" resultType="com.travelplans.itinerary.model.Itinerary">
SELECT
		`id`
		,`travelId`
		,`date`
		,`title`
		,`createdAt`
		,`updatedAt`
	FROM
		`itinerary`
	WHERE
		`travelId` = #{travelId}
</select>

<select id="selectItineraryById" resultType="com.travelplans.itinerary.model.Itinerary">
SELECT
		`id`
		,`travelId`
		,`date`
		,`title`
		,`createdAt`
		,`updatedAt`
	FROM
		`itinerary`
	WHERE
		`id` = #{itineraryId}
	
</select>


<update id="updateItinerary" parameterType="map">
UPDATE `itinerary`
SET
	 `title` = #{title}
WHERE
	`id` = #{itineraryId}
	AND `travelId` = #{travelId}
	AND `date` = #{date}
</update>

<delete id="deleteItineraryByTravelId" >
   	DELETE
 	FROM
 		`itinerary`
 	WHERE
 		travelId = #{travelId}
</delete>
</mapper>