<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.travelplans.mypage.dao.MypageDAO">
 
 <select id="selsectTravelList" resultType="com.travelplans.mypage.model.Travel">
 	SELECT 
 		`id`
 		,`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`price`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`travel`
 	ORDER BY `id` DESC
 </select>
 </mapper>