<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.my_travel.dao.MytravelDAO">

<insert id="insertTrip" parameterType="map">
	INSERT INTO `trip`
	(
		`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{userId}
		,#{title}
		,#{color}
		,#{startDate}
		,#{endDate}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertTraffic" parameterType="map">
	INSERT INTO `traffic`
	(
		`tripId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{tripId}
		,#{traffic}
		,#{trafficInfo}
		,#{start}
		,#{startDate}
		,#{startTime}
		,#{arrive}
		,#{arriveDate}
		,#{arriveTime}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertAccommodation" parameterType="map">
	INSERT INTO `accommodation`
	( 
		`tripId`
		,`name`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{tripId}
		,#{name}
		,#{date}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertReservation" parameterType="map">
INSERT INTO `reservationInfo`
	( 
		`tripId`
		,`title`
		,`booker`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{tripId}
		,#{title}
		,#{booker}
		,#{date}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<select id="selectLastTrip" resultType="com.travelplans.my_travel.model.Trip">
	SELECT 
		`id`
		,`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`trip`
	ORDER BY `id` DESC
	LIMIT 1
</select>


</mapper>