<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.my_travel.dao.MytravelDAO">

<insert id="insertTraffic" parameterType="map">
	INSERT INTO `traffic`
	(
		`tripId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{tripId}
		,#{traffic}
		,#{trafficInfo}
		,#{start}
		,#{startDate}
		,#{startTime}
		,#{arrive}
		,#{arriveDate}
		,#{arriveTime}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
	
</insert>

</mapper>