<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.plan.dao.PlanDAO">
	
<insert id="insertPlan" parameterType="map">
	INSERT INTO `plan`
	(
		`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	)	
	VALUES
	(
		#{itineraryId}
		,#{date}
		,#{planName}
		,#{time}
		,#{location}
		,#{memo}
		,#{price}
		,NOW()
		,NOW()
	)
</insert> 
 
 <select id="selectPlanListByItineraryId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`itineraryId` = #{itineraryId}
 </select>
 
 <select id="selectPlanByPlanId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`id` = #{planId}
 </select> 
 
 <update id="updatePlan" parameterType="map">
 UPDATE `plan`
 SET 
 	`planName` = #{planName}
	,`time` = #{time}
	,`location` = #{location}
	,`memo` = #{memo}
	,`price` = #{price}
	,`updatedAt` = NOW()
WHERE
	`id` = #{planId}
	AND `itineraryId` = #{itineraryId}
	AND `date` = #{date}
 </update>
</mapper>