<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.plan.dao.PlanDAO">
	
<insert id="insertPlan" parameterType="map">
	INSERT INTO `plan`
	(
		`travelId`
		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	)	
	VALUES
	(
		#{travelId}
		,#{itineraryId}
		,#{date}
		,#{planName}
		,#{time}
		,#{location}
		,#{memo}
		,#{price}
		,NOW()
		,NOW()
	)
</insert> 
 
<select id="selectPlanListByItineraryId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`travelId`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`itineraryId` = #{itineraryId}
	ORDER BY `time` ASC
</select>
 <select id="selectPlanListByTravelId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`travelId`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`travelId` = #{travelId}
	ORDER BY `time` ASC
</select>
<select id="selectPlanListByTravelIdItineraryId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`travelId`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`travelId` = #{travelId}
		AND `itineraryId` = #{itineraryId}
	ORDER BY `time` ASC
</select>
 <select id="selectPlanByPlanId" resultType="com.travelplans.plan.model.Plan">
 	SELECT 
 		`id`
 		,`travelId`
 		,`itineraryId`
		,`date`
		,`planName`
		,`time`
		,`location`
		,`memo`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`plan`
	WHERE
		`id` = #{planId}
 </select> 
 
 <update id="updatePlan" parameterType="map">
 UPDATE `plan`
 SET 
 	`planName` = #{planName}
	,`time` = #{time}
	,`location` = #{location}
	,`memo` = #{memo}
	,`price` = #{price}
	,`updatedAt` = NOW()
WHERE
	`id` = #{planId}
	AND `travelId` = #{travelId}
	AND `itineraryId` = #{itineraryId}
	AND `date` = #{date}
 </update>
 
 <delete id="deletePlan" parameterType="map">
 DELETE
 FROM
 	`plan`
 WHERE
 	`id` = #{planId}
</delete>
 
<delete id="deletePlanByItineraryId" >
   	DELETE
 	FROM
 		`plan`
 	WHERE
 		`itineraryId` = #{itineraryId}
</delete>

<delete id="deletePlanByTravelId" >
   	DELETE
 	FROM
 		`plan`
 	WHERE
 		`travelId` = #{travelId}
</delete>
</mapper>