<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.travelplans.reservation.dao.ReservationDAO">
 
 <insert id="insertTraffic" parameterType="map">
	INSERT INTO `traffic`
	(
		`travelId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{traffic}
		,#{trafficInfo}
		,#{start}
		,#{startDate}
		,#{startTime}
		,#{arrive}
		,#{arriveDate}
		,#{arriveTime}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertAccommodation" parameterType="map">
	INSERT INTO `accommodation`
	( 
		`travelId`
		,`name`
		,`startDate`
		,`endDate`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{name}
		,#{startDate}
		,#{endDate}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertReservation" parameterType="map">
INSERT INTO `reservation`
	( 
		`travelId`
		,`title`
		,`booker`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{title}
		,#{booker}
		,#{date}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<select id="selectLastTravel" resultType="com.travelplans.new_travel.model.Travel">
	SELECT 
		`id`
		,`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`travel`
	ORDER BY `id` DESC
	LIMIT 1
</select>
 
 
 </mapper>