<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.travelplans.reservation.dao.ReservationDAO">
 
 <insert id="insertTraffic" parameterType="map">
	INSERT INTO `traffic`
	(
		`travelId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{traffic}
		,#{trafficInfo}
		,#{start}
		,#{startDate}
		,#{startTime}
		,#{arrive}
		,#{arriveDate}
		,#{arriveTime}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertAccommodation" parameterType="map">
	INSERT INTO `accommodation`
	( 
		`travelId`
		,`name`
		,`startDate`
		,`endDate`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{name}
		,#{startDate}
		,#{endDate}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<insert id="insertReservation" parameterType="map">
INSERT INTO `reservation`
	( 
		`travelId`
		,`title`
		,`booker`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{travelId}
		,#{title}
		,#{booker}
		,#{date}
		,#{location}
		,#{price}
		,#{memo}
		,NOW()
		,NOW()
	)
</insert>

<select id="selectLastTravel" resultType="com.travelplans.new_travel.model.Travel">
	SELECT 
		`id`
		,`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`travel`
	ORDER BY `id` DESC
	LIMIT 1
</select>

<select id="selectTravelById" resultType="com.travelplans.new_travel.model.Travel">
	SELECT 
		`id`
		,`userId`
		,`title`
		,`color`
		,`startDate`
		,`endDate`
		,`price`
		,`createdAt`
		,`updatedAt`
	FROM
		`travel`
	WHERE 
		`id` = #{id}
</select>

<select id="selectTrafficById" resultType="com.travelplans.reservation.model.Traffic">
	SELECT
		 `id`
		,`travelId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`traffic`
 	WHERE
 		`id` = #{trafficId}
</select>

<select id="selectAccommodationById" resultType="com.travelplans.reservation.model.Accommodation">
	SELECT
	 	`id`
		,`travelId`
		,`name`
		,`startDate`
		,`endDate`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	FROM
		`accommodation`
	WHERE
		`id` = #{accommodationId}
</select>

<select id="selectReservationById" resultType="com.travelplans.reservation.model.Reservation">
 	SELECT
 		`id`
		,`travelId`
		,`title`
		,`booker`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	FROM
		`reservation`
	WHERE
		`id` = #{reservationId}
</select>
<select id="selectTrafficList" resultType="com.travelplans.reservation.model.Traffic">
 	SELECT
		 `id`
		,`travelId`
		,`traffic`
		,`trafficInfo`
		,`start`
		,`startDate`
		,`startTime`
		,`arrive`
		,`arriveDate`
		,`arriveTime`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`traffic`
 	WHERE
 		`travelId` = #{travelId}
</select>
 
<select id="selectAccommodationList" resultType="com.travelplans.reservation.model.Accommodation">
 	SELECT
	 	`id`
		,`travelId`
		,`name`
		,`startDate`
		,`endDate`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	FROM
		`accommodation`
	WHERE
		`travelId` = #{travelId}
</select>
 
<select id="selectReservationList" resultType="com.travelplans.reservation.model.Reservation">
 	SELECT
 		`id`
		,`travelId`
		,`title`
		,`booker`
		,`date`
		,`location`
		,`price`
		,`memo`
		,`createdAt`
		,`updatedAt`
	FROM
		`reservation`
	WHERE
		`travelId` = #{travelId}
</select>

<update id="updateTrafficByIdTravelId" parameterType="map">
 UPDATE `traffic`
SET
	`traffic` = #{traffic}
	, `trafficInfo` = #{trafficInfo}
	, `start` = #{start}
	, `startDate` = #{startDate}
	, `startTime` = #{startTime}
	, `arrive` = #{arrive}
	, `arriveDate` = #{arriveDate}
	, `arriveTime` = #{arriveTime}
	, `price` = #{price}
	, `memo` = #{memo}
	, `updatedAt` = NOW()
WHERE 
	`id` = #{trafficId}
	AND `travelId` = #{travelId}
</update>
 
<update id="updateAccommodation" parameterType="map" >
UPDATE `accommodation`
SET
	`name` = #{name}
	,`startDate` = #{startDate}
	,`endDate` = #{endDate}
	,`location` = #{location}
	,`price` = #{price}
	,`memo` = #{memo}
	,`updatedAt` = NOW()
WHERE 
	`id` = #{accommodationId}
	AND `travelId` = #{travelId}
</update>
 
<update id="updateReservation" parameterType="map" >
UPDATE `reservation`
SET
	`title` = #{title}
	,`booker` = #{booker}
	,`date` = #{date}
	,`location` = #{location}
	,`price` = #{price}
	,`memo` = #{memo}
	,`updatedAt` = NOW()
WHERE 
	`id` = #{reservationId}
	AND `travelId` = #{travelId}
</update>

<delete id="deleteTrafficByIdTravelId" parameterType="map">
 	DELETE
 	FROM
 		`traffic`
 	WHERE
 		`id` = #{trafficId}
 		AND travelId = #{travelId}
</delete>
 
 <delete id="deleteAccommodationByIdTravelId" parameterType="map">
  	DELETE
 	FROM
 		`accommodation`
 	WHERE
 		`id` = #{accommodationId}
 		AND travelId = #{travelId}
 </delete>
 
 <delete id="deleteReservationByIdTravelId" parameterType="map">
   	DELETE
 	FROM
 		`reservation`
 	WHERE
 		`id` = #{reservationId}
 		AND travelId = #{travelId}
 </delete>
 </mapper>