<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.travelplans.user.dao.UserDAO">
<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`nickname`
			,`email`
			,`createdAt`
 			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			,#{password}
			,#{nickname}
			,#{email}
			,NOW()
			,NOW()
		)
</insert>
	
<select id="selectLoginId" parameterType="String" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM
			`user`
		WHERE `loginId` = #{loginId}
</select>
	
<select id="selectEmail" parameterType="String" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM
			`user`
		WHERE `email` = #{email}
</select>

<select id="selectLoginIdEmail" parameterType="map" resultType="boolean">
		SELECT 
			COUNT(*)
		FROM
			`user`
		WHERE `loginId` = #{loginId} 
		AND `email` = #{email}
</select>
	
<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.travelplans.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`nickname`
			,`email`
			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE `loginId` = #{loginId}
 			AND `password` = #{password}
</select>
	
<select id="selectUserById"  parameterType="int" resultType="com.travelplans.user.model.User">
	SELECT
			`id`
			,`loginId`
			,`password`
			,`nickname`
			,`email`
			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE `id` = #{id}
</select>

<select id="selectUserByLoginIdEmail"  parameterType="map" resultType="com.travelplans.user.model.User">
	SELECT
			`id`
			,`loginId`
			,`password`
			,`nickname`
			,`email`
			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE `loginId` = #{loginId}
 		AND `email` = #{email}
</select>

<select id="selectUserByEmail"  parameterType="List" resultType="com.travelplans.user.model.User">
	SELECT
			`id`
			,`loginId`
			,`password`
			,`nickname`
			,`email`
			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE `email` = #{email}
</select>
<update id="updateUser" parameterType="map">
UPDATE `user`
SET
	 `password` = #{password}
WHERE
	`id` = #{userId}
</update>
</mapper>