@charset "UTF-8";

#wrap {
	width: 800px;
	
}

a:link {
	 text-decoration: none;
}
a:visited{
	 text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.travelPlansVar {
	height:30px;
	background-color: #ffcc85;
}

header {
	height: 100px;
}

.content {
	height: 500px;
}

#id {
	width: 380px;
}
#password {
	width: 380px;
}

.border {
	height: 370px;
}

#idBtn {
	background-color: #ffcc85;
}
#passwordBtn {
	background-color: #ffcc85;
}

.loginId {
	color: #ed5d47;
}

#findPasswordPage {
	width: 420px;
}

#passwordOk{ 
	color: #7BB0DB;
	font-weight:bold;
	}
#passwordRule{ 
	color: #ffcc85;
	font-weight:bold;
	}

#passwordSame{ 
	color:#7BB0DB;
	font-weight:bold;
	}
#passwordDifferent{ 
	color: #ed5d47;
	font-weight:bold;
	}
#confirmPasswordRule{ 
	color: #ffcc85;
	font-weight:bold;
	}

#emailOk{ 
	color: #7BB0DB;
	font-weight:bold;
	}
#emailRule{ 
	color: #ed5d47;
	font-weight:bold;
	}

#updateBtn{
	background-color: #ed5d47;
}
