@charset "UTF-8";

#travelplans {
	width: 800px;
	height:30px;
	background-color: #7BB0DB;
}
#wrap{
	width:500px;
}

header{
	height:120px;
}


header .logoText {
	color: #7BB0DB;
	}


/* infoText */
#idCheckOk{ 
	color: #7BB0DB;
	font-weight:bold;
	}
#idCheckNot{ 
	color: #ed5d47;
	font-weight:bold;
	}
#idCheckLength{ 
	color: #ffcc85;
	font-weight:bold;
	}

#passwordOk{ 
	color: #7BB0DB;
	font-weight:bold;
	}
#passwordRule{ 
	color: #ffcc85;
	font-weight:bold;
	}

#passwordSame{ 
	color:#7BB0DB;
	font-weight:bold;
	}
#passwordDifferent{ 
	color: #ed5d47;
	font-weight:bold;
	}
#confirmPasswordRule{ 
	color: #ffcc85;
	font-weight:bold;
	}

#emailOk{ 
	color: #7BB0DB;
	font-weight:bold;
	}
#emailRule{ 
	color: #ed5d47;
	font-weight:bold;
	}


.content #signUpBtn{
	background-color: #AEADCA;
	font-weight: bold;
	color: white;
}

footer {
	height:100px;
}