@charset "UTF-8";
body{
    display: flex;
    justify-content: center;
}
.box{
    width: 300px;
    height: 50px;
}
.selected{
    outline: 2px solid white;  
}
.colorBox{
    width: 40px;
    height: 40px;
    float: left;
    margin: 4px 4px 0px 0px;
    cursor: crosshair;
 }