@charset "UTF-8";

#wrap{
	width: 800px;
}

header .logoutNav {
	height:30px;
	background-color: #7BB0DB;
}

header .mypageBox {
	height: 100px;
}

.addPlans {
	font-weight: bold;
	color: #7BB0DB;
	
}

.SettingText {
	font-weight: bold;
	color: #7BB0DB
}


.contents .itineraryBox {
	width: 600px;
	height: 80px;
	/* background-color: #ffcc85; 임시 */
}

.travelTitle {
	font-weight: bold;
	font-size: 17px;
}
.travelDate {
	font-weight: bold;
	font-size: 13px;
}
.travelPrice {
	font-weight: bold;
	font-size: 15px;

} 	
