@charset "UTF-8";

#wrap {
	width: 800px;
}

a:link {
	color:black; 
	text-decoration: none;
}
a:visited {
	color:black; 
	text-decoration: none;
}
a:hover {
	color:black; 
	text-decoration: none;
} 

header {
	height: 80px;
}
header .mypage{
	height: 30px;
	background-color: #7BB0DB;
}

#layoutArticle {
	width: 750px;
}

.contents {
	min-height: 1200px;
}
nav {
	width:200px;
}

nav .nav-Text {
	font-size: 18px;
	color: #000000;
}

nav .nav-Text:hover {
	color:#7BB0DB;
}

nav .nav-smText {
	color:#7BB0DB;
} 
#layoutBorder {
	min-height: 900px;
}


/* itinerary */

#planSub {
	font-weight: bold;
	color:#7BB0DB;
}

#article {
	width:600px;
}

#article .reservationBg {
	min-height: 900px;
	background-color: #dededf;
}

#dateBox {
	height: 40px;
	background-color: #7BB0DB;
}

.dateBlock {
	height: 40px;
	background-color: #7BB0DB;
}


.planBox {
	height:30px;
	background-color: #dededf;
}

footer {
	height:100px;
}

