@charset "UTF-8";

#wrap {
	width: 800px;
}

header {
	height: 180px;
}
header .itinerary{
	height: 30px;
	font-size: 20px;
	background-color: #7BB0DB;
}

.gnbDate {
	font-weight: bold;
	color: #7BB0DB;
}

.contents {
	min-height: 1200px;
}

.plan {
	width:530px;
	margin-left: 10px;
}

.plan .schedule {
	font-weihgt: bold;
	color:#7BB0DB;
}

#layoutBorder {
	min-height: 800px
}


.content #addBtn {
	background-color: #7BB0DB;
	font-weight: bold;
	color: white
}

.content #addBtn:hover {
	background-color: white;
	font-weight: bold;
	color: #7BB0DB;
}

.contents .content {
	width: 770px;
}

.contents #title_content {
	
	width: 450px;
}
.contents .content #subject {
	font-weight: bold;
	color:#7BB0DB;
}

.contents .content #preview {
	max-width: 500px;
	max-height: 400px;
}

footer {
	height:100px;
}
