@charset "UTF-8";

#wrap {
	width: 800px;
}

header {
	height: 100px;
}
header .mypage{
	height: 30px;
	background-color: #7BB0DB;
}


.traffic {
	min-height: 700px;
}

.inputBox {
	width: 400px
}

.nav-link {
	font-weight: bold;
	color: black;
}
.nav-link:hover {
	font-weight: bold;
	color: #7BB0DB;
}

.contents #trafficBtn {
	font-weight: bold;
	background-color: #7BB0DB;
	color: white;
}

.contents #accoSaveBtn {
	font-weight: bold;
	background-color: #7BB0DB;
	color: white;
}
.contents #reservationBtn {
	font-weight: bold;
	background-color: #7BB0DB;
	color: white;
}