@charset "UTF-8";

#wrap {
	width: 800px;
}

header {
	height: 100px;
}

header .mypage{
	height: 30px;
	background-color: #7BB0DB;
}


#redBox {
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 40px;
	height: 40px;
	background-color: #ed5d47;
	margin-right: 25px
}

#yellowBox {
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 40px;
	height: 40px;
	background-color: #ffcc85;
	margin-right: 25px
}
#greenBox {
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 40px;
	height: 40px;
	background-color: #76af7b;
	margin-right: 25px
}
#skyBlueBox {
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 40px;
	height: 40px;
	background-color: #7BB0DB;
	margin-right: 25px
}
#pupleBox {
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 40px;
	height: 40px;
	background-color: #AEADCA;
	margin-right: 25px
}